body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #24a19c;
}

#logo {
    margin: 20px;
    width: 20%;
}

#container {
    display: flex;
    align-items: stretch;
    background-color: #d96098;
    padding: 30px 0 30px 30px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #000;
}

#gridContain {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#range {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:25px;
}

#buttonContain {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    padding: 20px 20px 60px 20px;
}

#paintBtns {
    display: flex;
    gap: 60px;
    flex-direction: column;
}

#clear {
    align-self: flex-end;
}

.button,
#clear {
    background-color: #325288;
    color: #faeee7;
    margin-bottom: 5px;
    border-radius: 4px;
    height: 35px;
    width: 85px;
    font-size: 120%;
    border-style: outset;
}

#clear:active{
    border-style: inset;
}

.button:focus {
    border-style: inset;
}

#grid {
    border: 2px solid #d96098;
    background-color: white;
    display: grid;
    place-content: stretch;
    width: 600px;
    height: 600px;
}

#sliderValue{
    text-align: center;
    color: #325288;
    background-color: white;
    width: 65px;
    height: 20px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: inset 1px 1px 1px #000;
}

#slider {
    -webkit-appearance: none;
    width: 80%;
    height: 15px;
    background: white;
    outline: none;
    border-radius: 8px;
    box-shadow: inset 1px 1px 3px #000;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 50px;
    width: 20px;
    background: white;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 1px 1px 3px #000;
}

#slider::-moz-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 50px;
    width: 20px;
    background: white;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 1px 1px 3px #000;
}

#slider::-ms-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 50px;
    width: 20px;
    background: white;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 1px 1px 3px #000;
}

.cell {
    background-color: white;
    border: 0.5px solid lightgrey;
}

footer {
    position: fixed;
    bottom: 0;
}