@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #24a19c;
}

h1 {
    color: #faeee7;
    display: block;
    font-family: 'Press Start P2', cursive;
}

#container {
    display: flex;
    align-items: stretch;
    background-color: #d96098;
    padding: 30px 0 30px 30px;
    border-radius: 20px;
}

#gridContain {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#range {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#buttonContain {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    padding: 20px 20px 80px 20px;
}

#paintBtns {
    display: flex;
    gap: 60px;
    flex-direction: column;
}

#clear {
    align-self: flex-end;
}

.button,
#clear {
    background-color: #325288;
    color: #faeee7;
    margin-bottom: 5px;
    border-radius: 4px;
    height: 35px;
    width: 85px;
    font-size: 120%;
    border-style: outset;
}

#clear:active{
    border-style: inset;
}

.button:focus {
    border-style: inset;
}

#grid {
    border: 2px solid #d96098;
    background-color: white;
    display: grid;
    place-content: stretch;
    width: 600px;
    height: 600px;
}

#sliderValue{
    color: #325288;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

.cell {
    background-color: white;
    border: 0.5px solid lightgrey;
}